@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global MOVEX Web styles */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border-top: 1px solid rgba(147, 148, 149, 0.2);
  border-left: 1px solid rgba(147, 148, 149, 0.2);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111318;
}
::-webkit-scrollbar-thumb {
  background: #333539;
  border-radius: 10px;
}
